
body{
    background-color: mediumaquamarine;
}

#logo{
    background-image: url(images/boat.JPG);
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px auto;
    border-radius: 50%;
    
    
}
#large_facebook_icon{
    margin-left: 48%;
}
#logo:hover{
   box-shadow: 2px 2px 5px 3px slategrey;
}

#bookNow{
 
    background-color: rgba(7, 7, 7, 0.3);
    color:whitesmoke;
}

.windMill{
    background-image: url(images/windMils1.JPG);
    background-size: cover;
    background-position: bottom;
    margin-bottom: 20px;
    height: 500px;
    z-index: -1;
}
.windmillText{
    color: pink;
    background-color: rgba(7, 7, 7, 0.4);
    padding: 10px;
    text-shadow: 1px 1px gray;
    width: 70%;
    margin: 0 auto;

    font-size: 20px;
    letter-spacing: 1.5px;
  
}
/*    ------- FOOTER  ------------ */
#footer{
    width: 300px;
    height: 50px;
    margin: auto;
}
#footer a{
    font-weight: 500;
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;
}



/* ---------SECOND PAGE--------------- */

#subscribe{
    display: none;
}



/* Fishing table style */
.fishingTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .fishingTable td, #fishingTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .fishingTable tr:nth-child(even){background-color: #f2f2f2;}
  
  .fishingTable tr:hover {background-color: #ddd;}
  
  .fishingTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }



  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

#cv{
    border: 1px solid black;
    height: 50px;
    width: 50px;
}



/*    Fishing Tips Page  */


#fishing_tips_welcome{
    background-color: rgba(7, 7, 7, 0.3);
    width: 70%;
    margin: auto;
}






#div_fish_img1{
    background-image: url(images/img_fish_info1.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 315px;
}
#display_text_fish1{
    display: none;
    background-color: rgba(7, 7, 7, 0.5);
    height: 100%;
}
/* ----------------------- */
#div_fish_img2{
    background-image: url(images/img_fish_info2.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 315px;
}
#display_text_fish2{
    display: none;
    background-color: rgba(7, 7, 7, 0.5);
    height: 100%;
}
/* ------------------------------ */
#div_fish_img3{
    background-image: url(images/img_fish_info3.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 315px;
}
#display_text_fish3{
    display: none;
    background-color: rgba(7, 7, 7, 0.5);
    height: 100%;
}
/* ---------------------- */
#div_fish_img4{
    background-image: url(images/img_fish_info4.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 315px;
}
#display_text_fish4{
    display: none;
    background-color: rgba(7, 7, 7, 0.5);
    height: 100%;
}
/* ------------------------------------- */
#div_fish_img5{
    background-image: url(images/img_fish_info5.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 315px;
}
#display_text_fish5{
    display: none;
    background-color: rgba(7, 7, 7, 0.5);
    height: 100%;
}
/* ------------------------------------- */
#div_fish_img6{
    background-image: url(images/img_fish_info6.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 315px;
}
#display_text_fish6{
    display: none;
    background-color: rgba(7, 7, 7, 0.5);
    height: 100%;
}
/* ------------------------------------- */

.text p{
    color: white;
    padding-top: 22%;
}
/* .write{
    border: 3px solid white;
    height: 100%;
    display: none;
}

#caine{
    height: 500px;
}
#pisica{
    
    background-color: rgba(7, 7, 7, 0.3);
    height: 100%;
    display: none;
} */











#videos_div{
    display: none;
    font-size: 15px;
}
